DISCORD_TOKEN=<YOUR_DATA>
GROQ_API_KEY=<YOUR_DATA>
SUPABASE_URL=<YOUR_DATA>
SUPABASE_KEY=<YOUR_DATA>

# Langsmith debugging
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=<YOUR_DATA>
LANGSMITH_PROJECT=<YOUR_PROJECT_NAME>
