discord.py
langchain
langchain_experimental
langchain-community
langchain-core
langchain-huggingface

groq
python-dotenv
pydantic
requests
beautifulsoup4
duckduckgo-search
supabase
transformers
sentence-transformers
hf_xet
ipykernel
langgraph